/*
 * zhangda 2016-12-28
 */
@charset "utf-8";
/* 重置 reset */
*{box-sizing: border-box;}
html{color: #000000; background-color: #FFFFFF; display: block;}
html:focus{outline: none;}
html,body {height: 100%;-webkit-tap-highlight-color: rgba(0,0,0,0);}
body{cursor: pointer;}
::-webkit-scrollbar{display: none;}
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
body,textarea,input,button,select,keygen,legend{font:16px/1.14 "Microsoft YaHei",sans-serif;color:#333;outline:0;display: block;}
body{background-color: #FFFFFF;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
ol,ul,li{list-style: none;}
h1,h2,h3,h4,h5,h6{font-size: 100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}
button,textarea{border: none; outline: none;}
del,ins,u,s,a,a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
a,a:hover{color:#333;}
html:focus,body:focus{outline: none;}
title{display: none;}
input{border: 0;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #666;}
input:-moz-placeholder, textarea:-moz-placeholder {color:#666;}
input::-moz-placeholder, textarea::-moz-placeholder {color:#666;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#666;}
/* 隐藏掉ie10input的关闭按钮 */
input::-ms-clear{display: none;}
img,input,select,label{vertical-align: middle;}
input,select,textarea{font-size: 100%;}
frame{display: block;}

/* 功能 function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-fl{float:left; display: inline;}
.f-fr{float:right; display: inline;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-dt{display:table;}
.f-dtc{display:table-cell;}
.clear{width: 0; height: 0; font-size: 0; border: 0; margin: 0; padding: 0; visibility: 0; clear: both;}
.f-tm3{filter: alpha(opacity=30); opacity: 0.3; background-color: #000000;}
.f-tm5{filter: alpha(opacity=50); opacity: 0.5; background-color: #000000;}
.f-zoom{zoom:1;}
/* 功能-文本 */
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs1{font-size: 0.75em;}
.f-fs2{font-size: 0.875em;}
.f-fs3{font-size: 1em;}
.f-fs4{font-size: 1.125em;}
.f-fs5{font-size: 1.25em;}
.f-fs6{font-size: 1.5em;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-lh1{line-height:1em;}
.f-lh2{line-height:2em;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.f-cob{color: black;}
.f-cow{color: white;}
/* 功能-鼠标 */
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
/* 滚动条 */
.f-oya {overflow-y: auto;}

/*盒模型 box*/
.b-bsb{box-sizing: border-box;}
.b-bsc{box-sizing: content-box-box;}
.b-w100{width: 100%;}
.b-w1o{width: 100%; overflow: hidden;}
.b-w50{width: 50%;}
.b-h100{height: 100%;}
.b-bdn{border: none;}
.b-bd1{border-width: 1px; border-style: solid;}
.b-bd2{border-width: 2px; border-style: solid;}
.b-bdt{border-top-width: 1px; border-top-style: solid;}
.b-bdr{border-right-width: 1px; border-right-style: solid;}
.b-bdb{border-bottom-width: 1px; border-bottom-style: solid;}
.b-bdl{border-left-width: 1px; border-left-style: solid;}
.b-bdc{border-color: #CCCCCC;}

/* 伸缩盒 */
.g-df {display: -webkit-flex;display: flex}
.g-dif {display: -webkit-inline-flex;display: inline-flex}
.g-f1 {-webkit-flex: 1;flex: 1;}
.g-f2 {-webkit-flex: 2;flex: 2;}
.g-fdc {-webkit-flex-direction: column;flex-direction: column;}
.g-fww {-webkit-flex-wrap: wrap;flex-wrap: wrap;}
.g-asc {-webkit-align-self: center;align-self: center;}
.g-alfs {-webkit-align-items: flex-start;align-items: flex-start;}
.g-alc {-webkit-align-items: center;align-items: center;}
.g-jcsb {-webkit-justify-content: space-between;justify-content: space-between;}
.g-jcfe {-webkit-justify-content: flex-end;justify-content: flex-end;}
.g-jcc {-webkit-justify-content: center;justify-content: center;}

/* margin */
.mar0-a{margin:0 auto;}
.mar-a5{margin: 5px;}
.mar-a10{margin: 10px;}
.mar-a15{margin: 15px;}
.mar-a20{margin: 20px;}
.mar-t0{margin-top: 0px!important;}
.mar-t5{margin-top: 5px!important;}
.mar-t7{margin-top: 7px!important;}
.mar-t10{margin-top: 10px!important;}
.mar-t15{margin-top: 15px!important;}
.mar-t20{margin-top: 20px!important;}
.mar-t30{margin-top: 30px!important;}
.mar-r0{margin-right: 0px!important;}
.mar-r5{margin-right: 5px!important;}
.mar-r10{margin-right: 10px!important;}
.mar-r15{margin-right: 15px!important;}
.mar-r20{margin-right: 20px!important;}
.mar-r30{margin-right: 30px!important;}
.mar-b0{margin-bottom: 0px!important;}
.mar-b5{margin-bottom: 5px!important;}
.mar-b10{margin-bottom: 10px!important;}
.mar-b15{margin-bottom: 15px!important;}
.mar-b20{margin-bottom: 20px!important;}
.mar-b30{margin-bottom: 30px!important;}
.mar-l0{margin-left: 0px!important;}
.mar-l5{margin-left: 5px!important;}
.mar-l10{margin-left: 10px!important;}
.mar-l15{margin-left: 15px!important;}
.mar-l20{margin-left: 20px!important;}
.mar-l30{margin-left: 30px!important;}
/* padding */
.b-pt0 {padding-top: 0!important;}
.b-pb0 {padding-bottom: 0!important;}
.b-pl0 {padding-left: 0!important;}
.b-pr0 {padding-right: 0!important;}
