.g-user-info {
    text-align: center;
    background-color: #393939;
}
.g-user-info .notLoggedIn {
    padding: .25rem;
}
.g-user-info .loggedIn {
    padding: .25rem 0 .25rem;
}
.user-info-tooltip {
    font-size: 0.16rem;
    color: #fff;
}
.login-way {
    margin: .2rem 0;
}
.login-way-item {
    width: .66rem;
    height: .66rem;
    margin-right: .1rem;
    text-align: center;
    line-height: .66rem;
    border-radius: 50%;
    background-color: #fff;
}
.login-way-item .iconfont {
    font-size: .33rem;
}
.login-way .icon-arrowright {
    color: #fff;
    font-size: .2rem;
}
.user-readingTime {
    display: inline-block;
    height: .36rem;
    padding: 0 .1rem;
    border-radius: .18rem;
    color: #fff;
    font-size: .14rem;
    line-height: .36rem;
    background-color: #000;
}
.user-readingTime .icon-yueduliang {
    margin-right: .05rem;
    color: #FF5500;
    font-size: .24rem;
    vertical-align: middle;
}
.user-stat {
    background-color: #fff;
}
.user-stat a {
    -webkit-flex: 1;
    flex: 1;
    padding: .1rem 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.user-stat a .iconfont {
    font-size: .24rem;
}
.user-stat a .icon-shoucang {
    color: #E39D25;
}
.user-stat a .icon-lishi {
    color: #F34A8E;
}
.user-stat a .icon-yejianmoshi {
    color: #8E89E5;
}
.user-stat a h2 {
    margin-top: .05rem;
}
.user-action-list {
    margin-top: .08rem;
    padding-left: .15rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}
.user-action-list li {
    -webkit-display: flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: .15rem .15rem .15rem 0;
    color: #2B2B2B;
    border-bottom: 1px solid #ddd;
}
.user-action-list li:last-child {
    border: none;
}
.user-action-list .user-action-title {
    -webkit-flex: 1;
    flex: 1;
    margin-right: .1rem;
    font-size: .16rem;
    font-weight: normal;
}
.user-action-list li span {
    margin-right: .05rem;
    color: #ccc;
    font-size: .14rem;
}
.user-action-list .icon-arrowright {
    color: #ccc;
    font-size: .16rem;
}
.login-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: .1rem;
    border-top-left-radius: .05rem;
    border-top-right-radius: .05rem;
    background-image: linear-gradient(180deg, #eee, #fff);  
}
.login-popup .login-p-close {
    position: absolute;
    right: .1rem;
    top: .1rem;
    font-size: .25rem;
}
.login-popup-tooltip {
    margin-top: .5rem;
    font-size: .24rem;
    font-weight: normal;
    text-align: center;
    color: #333;
}
.login-main {
    max-width: 80%;
    margin: 0 auto;
}
.login-item {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    height: .5rem;
    margin-top: .2rem;
    padding: 0 .15rem;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: .25rem;
    background-color: #fff;
}
.login-item input {
    -webkit-flex: 1;
    flex: 1;
    min-width: 1px;
    height: 100%;
    margin-right: .1rem;
    font-size: .16rem;
}
.login-item .login-item-text {
    padding-left: .15rem;
    font-size: .16rem;
    color: #666;
    border-left: 1px solid #ccc;
}
.login-main .login-tooltip-s {
    margin-top: .05rem;
    height: .14rem;
    font-size: .1rem;
    line-height: .14rem;
    color: #999;
    text-align: center;
}
.login-btn {
    height: .5rem;
    margin-top: .05rem;
    line-height: .5rem;
    text-align: center;
    color: #eee;
    border-radius: .3rem;
    background-color: #FFA3A5;
}
.login-btn.enable {
    color: #fff;
    background-color: #fd5358;
}
.login-btn.enable:active {
    background-color: #f79092;
}
.login-agreement {
    display: -webkit-flex;
    display: flex;
    margin-top: 0.15rem;
    -webkit-align-items: center;
    align-items: center;
    font-size: .12rem;
    color: #666;
    -webkit-justify-content: center;
    justify-content: center;
}
.login-agreement label {
    margin-left: 5px;
}
.login-agreement a {
    color: #666;
}
.toggle-login-way {
    margin-top: .2rem;
    color: #73a1c5;
    font-size: .14rem;
    text-align: center;
}
.login-popup-way {
    overflow-x: auto;
    text-align: right;
    white-space: nowrap;
}

.loggedIn .user-avator {
    width: .55rem;
    height: .55rem;
    margin-left: .25rem;
    overflow: hidden;
    text-align: center;
    border-radius: 100%;
}
.loggedIn .user-avator img {
    width: 100%;
    height: 100%;
}
.loggedIn .user-name {
    margin-left: .2rem;
    font-size: .2rem;
    font-weight: normal;
    color: #fff;
    text-align: left;
}
.loggedIn .user-readingTime {
    display: -webkit-flex;
    display: flex;
    width: 130px;
    height: auto;
    -webkit-align-items: center;
    align-items: center;
    padding: .1rem .1rem;
    line-height: 1.2em;
    border-radius: .36rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.loggedIn .user-readingTime .icon-yueduliang {
    font-size: .4rem;
}
.loggedIn .user-readingTime span {
    display: block;
}
.loggedIn .user-count-box {
    margin-top: .4rem;
}
.loggedIn .user-count {
    -webkit-flex: 1;
    flex: 1;
    color: #666;
    font-size: .12rem;
    line-height: 1.5em;
    text-align: center;
    border-right: 1px solid #666;
}
.loggedIn .user-count:last-child {
    border-right: 0;
}
.loggedIn .user-count .num {
    display: block;
    color: #fff;
    font-size: .14rem;
    font-weight: bold;
}

.quitLogin {
    margin: .1rem;
    padding: .15rem;
    text-align: center;
    border-radius: .05rem;
    color: #fff;
    font-weight: bold;
    background-color: rgb(248, 70, 70);
}
.quitLogin:active {
    background-color: rgb(252, 35, 35);
}